name: saas_framework
description: "A Flutter SaaS framework library providing essential components and utilities for building scalable applications."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  
  # Face Recognition Module Dependencies
  camera: ^0.10.5+5
  image: ^4.1.3
  image_picker: ^1.0.7
  permission_handler: ^11.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true
  